<!DOCTYPE html>
<link rel="shortcut icon" href="/static/PSK_LOGO.jpg"/>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Project Code Login</title>

	<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
	<!--
	  var config = {
	    apiKey: "AIzaSyA1rRG77hpoYS3i6moo900KD8GR1wQ5Kh8",
	    authDomain: "okcredit-7535e.firebaseapp.com",
	    databaseURL: "https://okcredit-7535e.firebaseio.com",
	    projectId: "okcredit-7535e",
	    storageBucket: "okcredit-7535e.appspot.com",
	    messagingSenderId: "870984863712"
	  };
	  firebase.initializeApp(config);
	--> <script> var config = {
  apiKey: "AIzaSyDsAfXPMWwm_fyBM9n7zetBbw6nOnEG6ZQ",
    authDomain: "sai-krishna-197610.firebaseapp.com",
    databaseURL: "https://sai-krishna-197610.firebaseio.com",
    projectId: "sai-krishna-197610",
    storageBucket: "sai-krishna-197610.appspot.com",
    messagingSenderId: "1075672120832",
    appId: "1:1075672120832:web:5f21c9a659cdb599cf22e5"
};
 firebase.initializeApp(config);
</script>

  <script src="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.css" />
  <!--<link href="style.css" rel="stylesheet" type="text/css" media="screen" />-->
<link href="/static/style.css" rel="stylesheet" type="text/css" media="screen" />

</head>
<body style = "background-color:#6f70a6">
    <div id="container">
	    <h1><u>Project Code Login</u></h1>
      <div id="loading">Loading...</div>
      <div id="loaded" class="hidden">
        <div id="main">
          <div id="user-signed-in" class="hidden">
            <div id="user-info" >
              <div id="phone">
                <a style="text-decoration:none" href="https://github.com/pskr0/MajorProject.git">GET CODE</a>

</div>
              <div class="clearfix"></div>
            </div>
            <p align="center">
		    <br><br>
		    <a style="text-decoration:none" href="https://github.com/pskr0/MajorProject.git">GET CODE</a>
		    <br><br>
              <button id="sign-out">Sign Out</button>
        
            
            </p>
          </div>
          <div id="user-signed-out" class="hidden">
            <div id="firebaseui-spa">
              <h3>App:</h3>
              <div id="firebaseui-container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/app.js"></script>
</body>
</html>
