
<link rel="shortcut icon" href="/static/PSK_LOGO.jpg"/>

<html>
<head>
<title>Health Reports Classifier</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>

<body align="center" style="background-color:#ccccff">
  <hr>
<h2 style="color: indigo;font-weight: bold; background-color: mediumpurple;"> Health Record Refering To Specialists</h2>
 <hr>

          <br>
  <tr> 
<th><h4  style="color: darkblue;" >Document Report Refering Medical Specialty </h4>  [{{filenme}}] <br> 
<br> 
<span style="background-color: palegoldenrod; font-size: medium;">
Multinomial NB       &gt;&gt;&gt; {{multi_file_input}}   &gt;&gt;{{a2}}%<br>
Random Forest        &gt;&gt;&gt; {{random_file_input}}  &gt;&gt;{{b2}}%<br>
Logistic Regression  &gt;&gt;&gt; {{logic_file_input}}   &gt;&gt;{{c2}}%<br>
LinearSVC            &gt;&gt;&gt; {{linear_file_input}}  &gt;&gt;{{d2}}%<br>
</span>

</th> 
    <br><br>
    <!--
<th>
  
<h4>Email,Text,Sms Report Refering Medical Specialty<h4><br> 
  <br>
Multinomial NB &gt;&gt;&gt; {{multi_text_input}}&gt;&gt;{{a1}}%<br>
RANDOM FOREST &gt;&gt;&gt; {{random_text_input}}&gt;&gt;{{b1}}%<br>
LogisticRegression &gt;&gt;&gt; {{logic_text_input}}&gt;&gt;{{c1}}%<br>
LinearSVC &gt;&gt;&gt; {{linear_text_input}}&gt;&gt;{{d1}}%<br>
 
 </th></tr>
  <br>
  <br>
-->
  <h4  style="color: darkblue;">Accurate Result Amoung  Models -</h4><br>
 <!-- Text Data Result:{{Final_text}}<br>-->
  
 <h4 style="color: darkblue;"> Suggested File Result:{{Final_file}}</h4>
  <br>
    <br>
<br>
<form action="/recheck" method="post">
 <button type="submit" class="btn btn-large btn-light">Check Other Reports</button>
</form>
  <br>
<form action="/loginacc" method="get"> 
  <button type="submit"  class="btn btn-large btn-info">Login </button><p style="color:red;">To Book Appointment</p>
</form>
</body>
</html>
