
<link rel="shortcut icon" href="/static/PSK_LOGO.jpg"/>

<html>
<head>
<title>Document Classifier</title>


<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>

<body align="center" style="background-color:#ccccff">
<h3>Document Classifier</h3> 
  <h3>Refering To Doctor's</h3>
<table>                                                                               
<tr>                                                                                                                                                                        
<td>                                                                          
{{dat2}}</td></tr>                                                                                                                                                                                                                                              
</table>
<form action="/recheck" method="post">
 <button type="submit" class="btn-large waves-effect waves-light orange">Check Other File</button>
</form>
<form action="/loginacc" method="post"> 
<button type="submit">LOGIN as Admin</button>
</form>
</body>
</html>
