
<link rel="shortcut icon" href="/static/PSK_LOGO.jpg"/>

<html>
<head>
<title>Health Reports Classifier</title>


<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>

<body align="center" style="background-color:#ccccff">
<h3> Health Record Refering To Doctor's</h3> 
          <br>
  <tr> <th>Document Report Refering Medical Specialty   [{{dat4}}] <h4> &gt;&gt;&gt;&gt;{{dat3}} </h4> </th> 
    <br><br>
 <th>Email,Text,Sms Report Refering Medical Specialty<h4>&gt;&gt;&gt;&gt;&gt; {{dat2}}</h4></th></tr>
  

<form action="/recheck" method="post">
 <button type="submit" class="btn-large waves-effect waves-light orange">Check Other Reports</button>
</form>
  <br>
<form action="/loginacc" method="post"> 
  <button type="submit">Login </button><p style="color:red;">To Book Appointment</p>
</form>
</body>
</html>
