<!DOCTYPE HTML>
<link rel="shortcut icon" href="/static/PSK_LOGO.jpg"/>
<HTML>
<HEAD>
  <meta charset="UTF-8">
<TITLE>
MAJOR PROJECT
</TITLE>
<style>
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
</style>
</HEAD>
<BODY  style="background-image: url('/static/image7.jpg');color:brown; height:100%;background-repeat:no-repeat;background-size:100% 140%;>
<H1 STYLE="background-color: orange;color:orange";>
<a ALIGN="right"style="text-decoration:none" href="/filedata"><h1> PROTOTYPE WEB MODEL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></a>
</form>
</H1>
<BR>
<BR>
<BR>
<div >
<form action="/predict" method="post">
                                                                                                                                                                                                          

<br>
<h3 align ="center" style="color:darkblue">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter Text
<input placeholder="Date" name="inputdata"  required>

</h3 >
<br>
<h4 align = "center">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="submit" class="btn-large waves-effect waves-light orange">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Predict Text</button>
</form>



</div>

</body>
</html>
